
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="#" class="brand-logo">Home</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/savedArticles" >Saved Articles</a></li>
          <li><a href="/displayArticles" class="waves-effect waves-light btn fetchArticles">Scrape News Articles</a></li>
        </ul>
      </div>
      
    </div>
  </nav>
        