
  <nav>
    <div class="nav-wrapper yellow darken-3">
      <div class="container">
        <a href="/" class="brand-logo">NYT Scraper</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/savedArticles" >Saved Articles</a></li>
          <li><a href="/displayArticles" class="waves-effect waves-light grey darken-2 btn fetchArticles">Scrape News Articles</a></li>
        </ul>
      </div>
      
    </div>
  </nav>
        