<div class="row">
    {{#each articles}}  
    <div class="col s12 m4 l4">
      <div class="card-panel">
        <span class="card-title"><a href="{{link}}">{{title}}</a></span>
        <p>{{summary}}</p>
      </div>
    </div>
{{/each}}
</div>
